* {
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
    font-size: 18px;
    line-height: 32px;
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
    width: 1060px;
  }
  
  header {
    padding: 1px;
    float: left;
    margin-bottom: 10px;
    color: white;
    background: #ebebeb;
    width: 100%;
    height: 120px;
    position: absolute;
    padding: 0 auto;
    margin: 0%;
    right: 0%;

  }
  section {
    padding: 20px;
    margin-bottom: 20px;
    background: #FFA500;
    height: 100px;
    width: 80%;
    top: 100px;
  }
  
  #left {
    float: left;
    width: 100%;
    height: 125px;
    color: #fff;
    background: hotpink;
    position: absolute;
    padding: 0 auto;
    right: 0;
    top: 125px;
    margin: 0%;
  
  }
  
  #middle {
    float: left;
    width: 50%;
    height: 500px;
    color: #fff;
    background: lightcoral;
    position: absolute;
    top: 250px;
    left: 10px;
    right: 0;




  }
  
  #right {
    float: right;
    width: 50%;
    height: 500px;
    color: #fff;
    background: #30948D;
    padding: 0 auto;
    position: absolute;
    top: 250px;
    right: -10px;

    

  }
  
  
  aside {
    float: left;
    width: 500px;
    height: 300px;
    text-decoration-color: white;
    background: pink;
    border: 1px solid #eee;
    left: 50px;
    right: 100px;
  }
  
  footer {
    padding: 20px;
    clear: both;
    width: 100%;
    background: #FFA500;
    position: absolute;
    bottom: 5px;
    margin: 0%;
    right: 0%;
  }
  